@import 'fonts'


*   
    box-sizing: border-box

body
    font-family: 'Roboto', sans-serif

.container
    max-width: 1280px
    margin: 0 auto
    
.header
    background: #635854
    padding: 12px 0
    border-bottom: 4px solid #3596F5

.navbar
    display: flex
    justify-content: space-between
    align-items: center

.navbar-menu
    padding: 0 
    margin: 0
    display: flex
    text-align: center
    list-style: none

.navbar-item
    margin: 0 40px

.navbar-link
    text-decoration: none
    color: #fff

.navgar-contacts
    text-align: right

.navbar-text
    display: block
    font-size: 14px
    line-height: 16px
    color: #fff
    margin-bottom: 4px

.navbar-phone
    font-weight: 700
    font-size: 17px
    line-height: 20px
    text-decoration: none
    color: #fff
    

// Day 2

.main 
    padding-top: 54px
    display: flex

.main-title
    margin: 0
    font-family: 'Bebas Neue', sans-serif
    text-transform: uppercase
    color: #635854
    font-weight: normal
    font-size: 37px
    line-height: 44px

.home-svg path 
    opacity: 0
    cursor: pointer

.home-svg path:hover 
    opacity: .75

.main-info
    padding: 70px 0
    flex-grow: 1
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between

.counter-group 
    display: flex
    flex-direction: column
    align-items: center

.counter-button
    background: #fff
    border: none
    cursor: pointer

.counter-down
    transform: rotateX(180deg)

.counter
    font-family: 'Bebas Neue', sans-serif
    font-size: 124px
    margin-top: 20px
    color: #635854

.button-primary
    background: #3596F5
    border-radius: 6px
    color: #fff
    border: none
    padding: 16px 36px
    cursor: pointer

// Day 3

path.current-floor
    opacity: 1


// Day FINAl

.modal
    opacity: 0
    transform: scale(0)
    transition: opacity 0.5s
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.8)
    display: flex
    align-items: center
    justify-content: center

.is-open
    opacity: 1
    transform: scale(1)

.modal-dialog
    position: relative
    max-width: 1000px
    min-height: 565px
    background: #fff
    flex-grow: 1
    display: flex
    opacity: 0
    transform: translateY(-10%)
    transition: transform .3s, opacity .2s
    transition-delay: .3s

.is-open > .modal-dialog
    opacity: 1
    transform: translateY(0)  

.modal-close-button
    position: absolute
    top: 38px
    right: 27px
    background: none
    border: none
    cursor: pointer

.modal-image
    width: 60%
    padding: 50px
    text-align: center
    background: #EBEBEB

.modal-title,
.floor-counter
    font-family: 'Bebas Neue', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 29px
    margin-top: 0
    margin-bottom: 25px
    color: #000

.modal-info
    width: 40%
    padding: 50px 46px

.flat-list
    padding: 0
    margin-top: 50px
    margin-bottom: 56px
    list-style: none

.flat-link
    padding: 5px 0
    display: block
    font-family: 'Roboto', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 19px
    color: #635854
    text-decoration: none
.flat-link:hover
    color: #3596F5
    text-decoration: underline

.flat-alert
    margin: 0
    font-family: 'Roboto', sans-serif
    font-style: italic
    font-weight: 400
    font-size: 16px
    line-height: 19px

.flats path
    opacity: 0
    cursor: pointer
.flats path:hover
    opacity: 1